<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Lançamentos</title>
    <script
            src="http://code.jquery.com/jquery-3.3.1.min.js"
            integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
            crossorigin="anonymous"></script>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet"></link>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</head>
<body style="padding-top: 10px;">

<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4>Lançamentos</h4>
                </div>
                <div class="panel-body">
                    <div style="padding-left: 20px">

                    </div>
                    <div class="row" style="padding-left: 15px;">
                        <div class="form-group">
                            <div class="col-md-1">
                                <a class="btn btn-success" id="novoLancamento" th:href="@{/lancamento/}" >Novo</a>
                            </div>
                        </div>
                    </div>
                    <form class="col-md-12" id="form-busca">
                        <div class="row">
                            <div id="feedback" />


                                <div class="form-group" style="padding-left: 15px;">
                                    <div class="col-md-9" style="padding-left: 0 !important;padding-top: 5px;">
                                        <input type="text" class="form-control" autofocus="autofocus" required="required" id="itemBusca"
                                               placeholder="Busca por: descrição, categoria ou tipo"/>
                                    </div>
                                    <div class="col-md-1">
                                        <button type="submit" id="bth-search"
                                                class="btn btn-primary">Buscar
                                        </button>
                                    </div>
                                    <div class="col-md-1">
                                        <a class="btn btn-info" id="recarregar" th:href="@{/lancamentos/1}" >Recarregar</a>
                                    </div>
                                    <div class="col-md-1">
                                        <a class="btn btn-primary" title="Gráfico" th:href="@{/dashboard}">
                                            <i class="glyphicon glyphicon-stats"></i>
                                        </a>
                                    </div>
                                </div>

                                <input type="hidden" id="p" th:object="${p}" th:value="${p}" />
                        </div>
                        <div class="row">
                            <div class="col-md-12 text-right text-muted">
                                <strong>
                                    Exibindo <span id="tamanhoPagina" th:text="${tamanhoPagina}"></span> de
                                    <span id="totalRegistros" th:text="${totalRegistros}"></span> lançamentos encontrados.
                                </strong>
                            </div>
                        </div>
                        <div class="row" style="padding-top: 2px;">
                            <div class="col-md-12">
                                <div id="divTabelaLancamentos" class="table-responsive">
                                    <div th:if="${#lists.isEmpty(lancamentos)}">
                                        <table id="tabelaLancamentos" class="table table-sm table-striped table-hover table-bordered"><thead><tr><th style="text-align: center;">Não há lançamentos cadastrados</th></tr></thead></table>
                                    </div>
                                    <table id="tabelaLancamentos" class="table table-sm table-striped table-hover table-bordered" th:if="${not #lists.isEmpty(lancamentos)}">
                                        <thead>
                                        <tr>
                                            <th>Descrição</th>
                                            <th>Categoria</th>
                                            <th>Data Lançamento</th>
                                            <th>Valor</th>
                                            <th>Tipo</th>
                                            <th></th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr th:each="l : ${lancamentos}">
                                            <td th:text="${l.descricao}"></td>
                                            <td th:text="${l.categoria != null}? ${l.categoria.nome} : ''"></td>
                                            <td th:text="${#dates.format(l.dataLancamento, 'dd/MM/yyyy')}"></td>
                                            <td th:text="${#numbers.formatDecimal(l.valor,0,'POINT', 2, 'COMMA')}"></td>
                                            <td th:text="${l.tipoLancamento.tipo}"></td>
                                            <td style="width: 12%">
                                                <div class="btn-group pull-right">
                                                    <a class="btn btn-sm btn-primary" th:id="editar+${l.id}" th:href="@{/editar/{id}(id=${l.id})}" >Editar</a>
                                                    <a class="delete btn btn-sm btn-danger" th:id="remover+${l.id}" th:href="@{/remover/{id}(id=${l.id})}">Excluir</a>
                                                </div>
                                            </td>
                                        </tr>
                                        </tbody>
                                        <tfoot>
                                        <tr>
                                            <th colspan="6" class="text-danger">Total saída: R$ <span th:text="${#numbers.formatDecimal(totalSaida,0,'POINT', 2, 'COMMA')}"/> </th>
                                        </tr>
                                        <tr>
                                            <th colspan="6" class="text-success">Total entrada: R$ <span th:text="${#numbers.formatDecimal(totalEntrada,0,'POINT', 2, 'COMMA')}"/> </th>
                                        </tr>
                                        </tfoot>
                                    </table>
                                </div>
                            </div>
                        </div>

                        <nav aria-label="Page navigation">
                            <ul id="paginacao" class="pagination">

                                <li th:each="p : ${paginas}">
                                    <a th:id="pagina+${p}" th:href="@{/lancamentos/{p}(p=${p})}"><span th:text="${p}"/></a>
                                </li>

                            </ul>
                        </nav>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>



    <script type="text/javascript">

        $(document).ready(function () {

            $("#form-busca").submit(function (event) {

                //stop submit the form, we will post it manually.
                event.preventDefault();
                fire_ajax_submit();
            });
        });

        function fire_ajax_submit() {

            $("#btn-search").prop("disabled", true);

            //console.log("enviando ... : ", JSON.stringify(search));
            document.getElementById("tabelaLancamentos").innerHTML = '';
            $.ajax({
                type: "POST",
                contentType: "application/json",
                url: "/buscaLancamentos",
                data: $("#itemBusca").val(),
                dataType: 'json',
                cache: false,
                timeout: 600000,
                success: function (data) {

                    //console.log("SUCCESS : ", data);
                    $("#btn-search").prop("disabled", false);

                    var result = data.lancamentos;
                    var html = '<table id="tabelaLancamentos" class="table table-sm table-striped table-hover table-bordered"><thead><tr><th>Descrição</th><th>Categoria</th><th>Data Lançamento</th><th>Valor</th><th>Tipo</th><th></th></tr></thead><tbody>';

                    if(result.length == 0){
                        document.getElementById("divTabelaLancamentos").innerHTML = '<table id="tabelaLancamentos" class="table table-sm table-striped table-hover table-bordered"><thead><tr><th style="text-align: center;">Nenhum resultado encontrado para: '+ $("#itemBusca").val() + '</th></tr></thead></table>';
                        document.getElementById("paginacao").innerHTML = '';
                        document.getElementById("p").value = 1;
                        return;
                    }
                    var table = '';
                    for (var item in result) {
                        table += "<tr>";
                        table += "<td>" + result[item].descricao + "</td>";
                        table += "<td>" + result[item].categoria + "</td>";
                        table += "<td>" + result[item].dataLancamento + "</td>";
                        table += "<td>" + result[item].valor + "</td>";
                        table += "<td>" + result[item].tipoLancamento + "</td>";

                        table += '<td style="width: 12%"><div class="btn-group pull-right">' +
                            '<a class="btn btn-sm btn-primary" href="/editar/' + result[item].id +'" >Editar</a>' +
                            '<a class="delete btn btn-sm btn-danger" href="/remover/' + result[item].id + '">Excluir</a>' +
                            '</div>'+
                            '</td>';
                        table += "</tr>";
                    }
                    html += table + "</tbody>";

                    //console.log('saida: ' + data.totalSaida);
                    var rodape= '<tfoot>' +
                        '<tr><th colspan="6" class="text-danger">Total saída: R$ ' + data.totalSaida +'</th></tr>' +
                        '<tr><th colspan="6" class="text-success">Total entrada: R$ '+ data.totalEntrada +'<span></span></th></tr>'+
                        '</tfoot></table>';

                    document.getElementById("divTabelaLancamentos").innerHTML = html + rodape;
                    document.getElementById("tamanhoPagina").innerHTML = data.tamanhoPagina;
                    document.getElementById("totalRegistros").innerHTML = data.totalRegistros;

                    document.getElementById("paginacao").innerHTML = '';
                    document.getElementById("p").value = 1;
                },
                error: function (e) {

                    var json = "<h4>Ajax Response</h4><pre>"
                        + e.responseText + "</pre>";
                    $('#feedback').html(json);

                    console.log("ERROR : ", e);
                    $("#btn-search").prop("disabled", false);

                }
            });

        }

    </script>

</body>

</html>
